.idea
data/*
models/*
mlruns
.DS_Store

!.keep

.pytest_cache
__pycache__

.ipynb_checkpoints

.env
.coverage

build
dist

*.egg-info

token.json
optimization_history_plot_files

venv/
.vscode/
add_license.py
